DISCORD_FARM_TOKEN=
DISCORD_SRVRMANAGE_TOKEN=
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

DISCORD_LOGIN_RETRY_BUFFER_MS=5000
DISCORD_LOGIN_MAX_RETRIES=0

CONTROL_API_URL=http://127.0.0.1:8787
CONTROL_API_TOKEN=
CONTROL_HOST=127.0.0.1
CONTROL_PORT=8787
CONTROL_AUTOSTART_BOTS=false

FFMPEG_PATH=
ENABLED_BOTS=drxsrvrmanage,drxfarm,oauthguard
LOW_MEMORY_MODE=true
ALLOW_MULTI_BOT=true
MAX_RUNNING_BOTS=3
SKIP_MISSING_BOT_TOKENS=true
RESTART_FAILED_BOTS=true
RESTART_DELAY_SECONDS=10
PERSISTENT_DATA_DIR=

FARMOUT_WHITELIST_IDS=
FARM_ACTIVITY_TYPE=watching
FARM_ACTIVITY_TEXT={channel} LiveNotifier | {time} {tz}
FARM_ACTIVITY_TIMEZONE=Asia/Jakarta
FARM_ACTIVITY_UPDATE_SECONDS=60

OCR_ENABLED=false
OCR_MAX_CONCURRENT=1
OCR_IMAGE_MAX_DIMENSION=960
