DISCORD_BOT_TOKEN=
DISCORD_MUSIC_TOKEN=
DISCORD_FARM_TOKEN=
DISCORD_SRVRMANAGE_TOKEN=
KEY_BOT_TOKEN=
PAYMENT_BOT_TOKEN=
PANEL_BOT_TOKEN=

CONTROL_API_URL=http://127.0.0.1:8787
CONTROL_API_TOKEN=
CONTROL_HOST=127.0.0.1
CONTROL_PORT=8787

FFMPEG_PATH=
YTDLP_COOKIE_FILE=cookies.txt
FARMOUT_WHITELIST_IDS=
FARM_ACTIVITY_TYPE=watching
FARM_ACTIVITY_TEXT={channel} LiveNotifier | {time} {tz}
FARM_ACTIVITY_TIMEZONE=Asia/Jakarta
FARM_ACTIVITY_UPDATE_SECONDS=60
FARM_YOUTUBE_LINK=https://www.youtube.com/@JKT48
